name: Java - Build

on: [pull_request]


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 'Set up JDK'
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21

      - name: 'Cache Maven packages'
        uses: actions/cache@v5
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}-${{ github.sha }}

      - name: 'Checkout'
        uses: actions/checkout@v6

      - name: 'Clean and verify'
        run: ./mvnw --no-transfer-progress clean verify
